*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #fd9464;
    display: grid;
    min-width: 100vh;
    place-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    background: white;
    padding: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0001.7rem rqba(0,0,0,0.15)
}

strong{
    color: #dd4b19;
}

button {
    padding: 1rem 2rem;
    background: transparent;
    color: #404040;
    margin-top: 0.4rem;
    transition: 0.25rem;
    border-radius: 4px;
    border: 1px solid currentColor;
    cursor: pointer;    
    font-size:0.8;
    font-weight: 700;
    width: 100%;
}

button:hover,
button:focus {
    background: #f4ddc7;
    color: white;
    outline: none;
}

label{
    color: #777;
    width: 100%;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within {
    color: #dd4b19;
}

input{
    color: #404040;
    border: none;
    border-color: #fd9464;
    border-bottom-style: double;
    border-bottom-width: 1px;
    margin-bottom: 2.5rem;
    padding: 1rem 00.5rem 0;
    transition:  0.15s linear;
    width: 100%;
    font-size: 1.180rem;
}

input:focus {
    outline: none;
    border-color: #dd4b19;
    color: #dd4b19;
}

#Google:hover,
#Google:focus {
    color: white;
    background-color: #e72305;
}

#Facebook:hover,
#Facebook:focus {
    color: white;
    background-color: #2268b8;
}

a{
    text-decoration: none;
    color: black;
    font-size: 0.5;
    transition:  0.15s;
}

a:hover,
a:focus {
    outline: none;
    color: #dd4b19;
}

h2 {
    color: #404040;;
    font-size: 1.5rem;
}

#manter{
    width: 10%;
}

#BotaoLog {
    padding: 1rem 2rem;
    background: transparent;
    color: #404040;
    margin-top: 0.4rem;
    transition: 0.25rem;
    border-radius: 4px;
    border: 1px solid currentColor;
    cursor: pointer;    
    font-size:0.8;
    font-weight: 700;
    width: 100%;
}

#BotaoLog:hover,
#BotaoLog:focus {
    background: #fd9464;
    color: white;
    outline: none;
}

.echo {
    padding: 1rem 2rem;
    background: transparent;
    color: #404040;
    margin-top: 0.4rem;
    transition: 0.25rem;
    border-radius: 4px;
    border: 1px solid currentColor;
    cursor: pointer;    
    font-size:0.8;
    font-weight: 700;
    width: 100%;
}